body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .loginbody{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
  }

  .login {
    width: 300px;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .SubmitLogin {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .SubmitLogin:hover {
    background-color: darkblue;
  }

  .user {
    display: flex;
    align-items: center;
  }
  
  .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  main {
    padding: 20px;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  .search input {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .metrics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .metric {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .metric img {
    width: 100%;
  }


/* database */
.free {
    background-color: #FFCCCC;
  }

.busy {
    background-color: #05f451;
}
body {
    margin: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Heading styling */
h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Task list items */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    line-height: 1.5em;
}

/* Menu styling */
#menu {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 10px;
    overflow: hidden;
}

#menu li {
    display: inline;
}

#menu a {
    color: black;
    margin-right: 15px;
    text-decoration: none;
    float: left;
}

/* Hover effect on menu items */
#menu a:hover {
    color: #1565c0;
}

/* Selected menu item styling */
#menu a.selected {
    color: #1565c0;
    font-weight: bold;
}

input{
    display: block;
    border: 1px solid #babdbe;
    padding: 3px 6px; 
    margin-bottom: 10px;
}


input[type="text"]{
    width: 300px;
}

input[type="submit"] {
    cursor: pointer; 
    background-color: #2068b5; 
    color: white; 
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 12px; 
}

input[type="submit"]:hover {
    color: #000000;
}
.task-link {
    color: black;
    text-decoration: none;
}

.task-link:hover {
    color: #1565c0;
    text-decoration: line-through;
}

.history {
    color: #9e9e9e;
    text-decoration: line-through;
}
/* database */
